<p><%= @email %> さん、</p>

<p>アカウント登録ありがとうございます！</p>

<p>以下のリンクを押して、本登録を完了してください。</p><br>

<p>
  <%= link_to "アカウントを認証する", confirmation_url(@resource, {
    confirmation_token: @token,
    config: message['client-config'].to_s,
  }).html_safe %>
</p>

<p>リンクの有効期間は3日間です。お早めにご対応ください。</p><br>

<p>Yum Keeper 開発チーム</p>