<p><%= @resource.email %> さん、</p>

<p>パスワードリセットのリクエストを受け付けました。以下のリンクから手続きをしてください。</p><br>

<p>
  <%= link_to "パスワードをリセットする", edit_password_url(@resource, {
    reset_password_token: @token,
    config: message['client-config'].to_s,
    redirect_url: message['redirect-url'].to_s
  }).html_safe %>
</p>

<p>リンクの有効期間は1時間です。お早めにご対応ください。</p>
<p>なお、この操作に心当たりがない場合は、このメールを無視してください。</p><br>

<p>Yum Keeper 開発チーム</p>
